{% extends "index.twig" %}
{% block content %}
    <div class="line">
        <div class="box">
            <form method="post" action="#">
                
            </form>
        </div>
    </div>
    
{% endblock %}