{% if x_message %}
    <div class="line">
        <div class="box">
            <div class="s-12 l-12 center">
                <div class="x-msg-box {{ x_msg_status }}"><p>{{ x_message | raw }}</p></div>
            </div>
        </div>
    </div>
{% endif %}